

<!DOCTYPE html>
<html>
  <head>
    <title>tournaments Page</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

	<script src="https://unpkg.com/leaflet-geosearch@2.2.0/dist/bundle.min.js"></script>
	<style type="text/css">
      #map 	{
				width: 600px;
				height: 400px;
			}
    </style>
	</head>
<!-- Head, imports of Leaflet CSS and JS, Geosearch JS, etc -->

<body>
<div id='map'></div>


<script>


// Get the provider, in this case the OpenStreetMap (OSM) provider.
var provider = new window.GeoSearch.OpenStreetMapProvider()
// Query for the address
// Initialize map to specified coordinates
	var x_coor = 50;
    var y_coor = 8;
	var label = value[i].label;
	var map = L.map( 'map', {
		center: [y_coor,x_coor], // CAREFULL!!! The first position corresponds to the lat (y) and the second to the lon (x)
		zoom: 12
	});
	// Add tiles (streets, etc)
	L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		subdomains: ['a','b','c']
	}).addTo( map );
//{%for i in range(0, 3)%} 
//var query_addr = " tournois.city ";

// Wait until we have an answer on the Promise


	var marker = L.marker([{{tournois[i].lat}},{{tournois[i].longg}}]).addTo(map) // CAREFULL!!! The first position corresponds to the lat (y) and the second to the lon (x)
	// {%endfor%} 
     // Add a popup to said marker with the address found by geosearch (not the one from the user)
	marker.bindPopup("<b>Found location</b><br>"+label).openPopup();
	L.marker([50.85,4.349]).addTo(map)


</script>


</body>
</html>
