{% extends "layout.html" %}
{% block content %}
    

  <h1>Home page</h1>

  <form method="post" action="/choixSystJeu">
   <p>
       <label for="pays">Choix du pays ? (non fonctionnel)</label><br />
       <select name="pays" id="pays">
       	<option value="all">All </option>
           <option value="allemagne">Allemagne</option>
           <option value="autriche">Autriche</option>
           <option value="belgique">Belgique</option>
           <option value="etats-unis">États-Unis</option>
           <option value="france">France</option>
           <option value="italie">Italie</option>
           <option value="luxembourg">Luxembourg</option>
           <option value="Pays-Bas">Pays-Bas</option>
           <option value="pologne">Pologne</option>
           <option value="roumanie">Roumanie</option>
           <option value="royaume-uni">Royaume-Uni</option>
           <option value="serbie">Serbie</option>           
           <option value="suisse">Suisse</option>
       </select>
   </p>

   <p>
   		<label for="pays">Choix de la ville </label><br />
   		<input type="text" name="ville" />
   	</p>

   <p>
   		<label for="pays">Choix du code postal (non fonctionnel)</label><br />
   		<input type="text" name="codePost" />
   	</p>
   <p>
   		<label for="pays">Choix de la date (format YYYY-MM-DD)</label><br />
   		<input type="text" name="dateD" />
   	</p>
   <p>
   		<label for="pays">Choix de la durée (non fonctionnel)</label><br />
   		<input type="text" name="duree" />
   	</p>
   <p>
   		<label for="pays">Choix de la distance, si pas de ville renseignée ce sera Paris</label><br />
   		<input type="text" name="distance" />
   	</p>


<button>Submit</button>

</form>

{% endblock content %}

<!--
<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
</head>
<body>
	<h1> Home page </h1>

</body>
</html>
-->